/****** Object:  Database [srpmdb]    Script Date: 26/08/2025 01:10:48 ******/
CREATE DATABASE [srpmdb]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [uniqueidentifier] NOT NULL,
	[FirebaseUid] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[FacebookURL] [nvarchar](max) NULL,
	[LinkedInURL] [nvarchar](max) NULL,
	[AvatarURL] [nvarchar](max) NULL,
	[IdentityCode] [nvarchar](30) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[AlternativeEmail] [nvarchar](320) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Address] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Gender] [bit] NULL,
	[Bio] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[DegreeType] [nvarchar](50) NULL,
	[ProficiencyLevel] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](150) NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[DeleteTime] [datetime2](7) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[MajorId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountNotification]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountNotification](
	[AccountId] [uniqueidentifier] NOT NULL,
	[NotificationId] [uniqueidentifier] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AccountNotification] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[NotificationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppraisalCouncil]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppraisalCouncil](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_AppraisalCouncil] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[IsTemplate] [bit] NOT NULL,
	[ContentHtml] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UploadAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[UploaderId] [uniqueidentifier] NOT NULL,
	[EditorId] [uniqueidentifier] NULL,
	[ProjectId] [uniqueidentifier] NULL,
	[EvaluationId] [uniqueidentifier] NULL,
	[IndividualEvaluationId] [uniqueidentifier] NULL,
	[TransactionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluation]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluation](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[TotalRate] [tinyint] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[AppraisalCouncilId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Evaluation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluationStage]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluationStage](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[StageOrder] [int] NOT NULL,
	[Phrase] [nvarchar](30) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[EvaluationId] [uniqueidentifier] NOT NULL,
	[MilestoneId] [uniqueidentifier] NULL,
	[AppraisalCouncilId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EvaluationStage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Field]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Field] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndividualEvaluation]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndividualEvaluation](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TotalRate] [tinyint] NULL,
	[Comment] [nvarchar](max) NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[ReviewerResult] [bit] NULL,
	[IsAIReport] [bit] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[EvaluationStageId] [uniqueidentifier] NOT NULL,
	[ReviewerId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_IndividualEvaluation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FieldId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Major] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberTask]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberTask](
	[Id] [uniqueidentifier] NOT NULL,
	[Progress] [decimal](5, 2) NOT NULL,
	[Overdue] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[DeliveryDate] [datetime2](7) NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MemberTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milestone]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestone](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Objective] [nvarchar](max) NULL,
	[Cost] [money] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Type] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Milestone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[IsGlobalSend] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ProjectId] [uniqueidentifier] NULL,
	[AppraisalCouncilId] [uniqueidentifier] NULL,
	[EvaluationId] [uniqueidentifier] NULL,
	[EvaluationStageId] [uniqueidentifier] NULL,
	[IndividualEvaluationId] [uniqueidentifier] NULL,
	[DocumentId] [uniqueidentifier] NULL,
	[SignatureId] [uniqueidentifier] NULL,
	[TaskId] [uniqueidentifier] NULL,
	[MemberTaskId] [uniqueidentifier] NULL,
	[TransactionId] [uniqueidentifier] NULL,
	[SystemConfigurationId] [uniqueidentifier] NULL,
	[UserRoleId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPCode]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPCode](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[Attempt] [tinyint] NOT NULL,
	[TTL] [int] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OTPCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [uniqueidentifier] NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[PictureURL] [nvarchar](max) NULL,
	[Code] [nvarchar](30) NOT NULL,
	[EnglishTitle] [nvarchar](max) NOT NULL,
	[VietnameseTitle] [nvarchar](max) NOT NULL,
	[Abbreviations] [nvarchar](100) NULL,
	[Duration] [int] NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Description] [nvarchar](max) NULL,
	[EncodedDescription] [nvarchar](max) NULL,
	[RequirementNote] [nvarchar](max) NULL,
	[Budget] [money] NOT NULL,
	[Progress] [decimal](5, 2) NOT NULL,
	[MaximumMember] [int] NOT NULL,
	[Language] [nvarchar](30) NOT NULL,
	[Category] [nvarchar](30) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Genre] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMajor]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMajor](
	[ProjectId] [uniqueidentifier] NOT NULL,
	[MajorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProjectMajor] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[MajorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectResult]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectResult](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[AddedDate] [datetime2](7) NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProjectResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectSimilarity]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSimilarity](
	[ProjectId] [uniqueidentifier] NOT NULL,
	[IndividualEvaluationId] [uniqueidentifier] NOT NULL,
	[Similarity] [float] NOT NULL,
 CONSTRAINT [PK_ProjectSimilarity] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[IndividualEvaluationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTag]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTag](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ProjectId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProjectTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultPublish]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultPublish](
	[Id] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Publisher] [nvarchar](max) NULL,
	[PublicationDate] [datetime2](7) NULL,
	[AccessType] [nvarchar](max) NULL,
	[Tags] [nvarchar](max) NULL,
	[ProjectResultId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ResultPublish] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsGroupRole] [bit] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signature]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signature](
	[Id] [uniqueidentifier] NOT NULL,
	[SignerName] [nvarchar](max) NULL,
	[SignatureHash] [nvarchar](max) NULL,
	[SignedDate] [datetime2](7) NOT NULL,
	[SignerId] [uniqueidentifier] NOT NULL,
	[DocumentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Signature] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfiguration]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfiguration](
	[Id] [uniqueidentifier] NOT NULL,
	[ConfigKey] [nvarchar](max) NULL,
	[ConfigValue] [nvarchar](max) NULL,
	[ConfigType] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SystemConfiguration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Objective] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[DeliveryDate] [datetime2](7) NULL,
	[Priority] [nvarchar](30) NULL,
	[Cost] [money] NOT NULL,
	[Progress] [decimal](5, 2) NOT NULL,
	[Overdue] [int] NOT NULL,
	[MeetingUrl] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[MilestoneId] [uniqueidentifier] NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [uniqueidentifier] NOT NULL,
	[EvidenceImage] [nvarchar](max) NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[SenderAccount] [nvarchar](30) NULL,
	[SenderName] [nvarchar](50) NULL,
	[SenderBankName] [nvarchar](50) NULL,
	[ReceiverAccount] [nvarchar](30) NOT NULL,
	[ReceiverName] [nvarchar](50) NOT NULL,
	[ReceiverBankName] [nvarchar](50) NOT NULL,
	[TransferContent] [nvarchar](50) NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[HandleDate] [datetime2](7) NULL,
	[FeeCost] [money] NOT NULL,
	[TotalMoney] [money] NOT NULL,
	[PayMethod] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[RequestPersonId] [uniqueidentifier] NOT NULL,
	[HandlePersonId] [uniqueidentifier] NULL,
	[ProjectId] [uniqueidentifier] NULL,
	[EvaluationStageId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 26/08/2025 01:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[IsOfficial] [bit] NOT NULL,
	[ExpireDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NULL,
	[AppraisalCouncilId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Account_MajorId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Account_MajorId] ON [dbo].[Account]
(
	[MajorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountNotification_NotificationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_AccountNotification_NotificationId] ON [dbo].[AccountNotification]
(
	[NotificationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Document_EditorId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Document_EditorId] ON [dbo].[Document]
(
	[EditorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Document_EvaluationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Document_EvaluationId] ON [dbo].[Document]
(
	[EvaluationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Document_IndividualEvaluationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Document_IndividualEvaluationId] ON [dbo].[Document]
(
	[IndividualEvaluationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Document_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Document_ProjectId] ON [dbo].[Document]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Document_TransactionId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Document_TransactionId] ON [dbo].[Document]
(
	[TransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Document_UploaderId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Document_UploaderId] ON [dbo].[Document]
(
	[UploaderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Evaluation_AppraisalCouncilId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Evaluation_AppraisalCouncilId] ON [dbo].[Evaluation]
(
	[AppraisalCouncilId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Evaluation_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Evaluation_ProjectId] ON [dbo].[Evaluation]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EvaluationStage_AppraisalCouncilId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_EvaluationStage_AppraisalCouncilId] ON [dbo].[EvaluationStage]
(
	[AppraisalCouncilId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EvaluationStage_EvaluationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_EvaluationStage_EvaluationId] ON [dbo].[EvaluationStage]
(
	[EvaluationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EvaluationStage_MilestoneId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_EvaluationStage_MilestoneId] ON [dbo].[EvaluationStage]
(
	[MilestoneId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IndividualEvaluation_EvaluationStageId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_IndividualEvaluation_EvaluationStageId] ON [dbo].[IndividualEvaluation]
(
	[EvaluationStageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IndividualEvaluation_ReviewerId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_IndividualEvaluation_ReviewerId] ON [dbo].[IndividualEvaluation]
(
	[ReviewerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Major_FieldId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Major_FieldId] ON [dbo].[Major]
(
	[FieldId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTask_MemberId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_MemberTask_MemberId] ON [dbo].[MemberTask]
(
	[MemberId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTask_TaskId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_MemberTask_TaskId] ON [dbo].[MemberTask]
(
	[TaskId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Milestone_CreatorId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Milestone_CreatorId] ON [dbo].[Milestone]
(
	[CreatorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Milestone_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Milestone_ProjectId] ON [dbo].[Milestone]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_AppraisalCouncilId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_AppraisalCouncilId] ON [dbo].[Notification]
(
	[AppraisalCouncilId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_DocumentId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_DocumentId] ON [dbo].[Notification]
(
	[DocumentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_EvaluationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_EvaluationId] ON [dbo].[Notification]
(
	[EvaluationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_EvaluationStageId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_EvaluationStageId] ON [dbo].[Notification]
(
	[EvaluationStageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_IndividualEvaluationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_IndividualEvaluationId] ON [dbo].[Notification]
(
	[IndividualEvaluationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_MemberTaskId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_MemberTaskId] ON [dbo].[Notification]
(
	[MemberTaskId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_ProjectId] ON [dbo].[Notification]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_SignatureId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_SignatureId] ON [dbo].[Notification]
(
	[SignatureId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_SystemConfigurationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_SystemConfigurationId] ON [dbo].[Notification]
(
	[SystemConfigurationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_TaskId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_TaskId] ON [dbo].[Notification]
(
	[TaskId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_TransactionId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_TransactionId] ON [dbo].[Notification]
(
	[TransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_UserRoleId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_UserRoleId] ON [dbo].[Notification]
(
	[UserRoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OTPCode_AccountId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_OTPCode_AccountId] ON [dbo].[OTPCode]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Project_CreatorId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Project_CreatorId] ON [dbo].[Project]
(
	[CreatorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectMajor_MajorId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectMajor_MajorId] ON [dbo].[ProjectMajor]
(
	[MajorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectResult_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProjectResult_ProjectId] ON [dbo].[ProjectResult]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectSimilarity_IndividualEvaluationId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectSimilarity_IndividualEvaluationId] ON [dbo].[ProjectSimilarity]
(
	[IndividualEvaluationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectTag_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectTag_ProjectId] ON [dbo].[ProjectTag]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResultPublish_ProjectResultId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_ResultPublish_ProjectResultId] ON [dbo].[ResultPublish]
(
	[ProjectResultId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signature_DocumentId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Signature_DocumentId] ON [dbo].[Signature]
(
	[DocumentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signature_SignerId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Signature_SignerId] ON [dbo].[Signature]
(
	[SignerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Task_CreatorId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Task_CreatorId] ON [dbo].[Task]
(
	[CreatorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Task_MilestoneId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Task_MilestoneId] ON [dbo].[Task]
(
	[MilestoneId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaction_EvaluationStageId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_EvaluationStageId] ON [dbo].[Transaction]
(
	[EvaluationStageId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaction_HandlePersonId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_HandlePersonId] ON [dbo].[Transaction]
(
	[HandlePersonId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaction_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_ProjectId] ON [dbo].[Transaction]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transaction_RequestPersonId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_Transaction_RequestPersonId] ON [dbo].[Transaction]
(
	[RequestPersonId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_AccountId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_AccountId] ON [dbo].[UserRole]
(
	[AccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_AppraisalCouncilId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_AppraisalCouncilId] ON [dbo].[UserRole]
(
	[AppraisalCouncilId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_ProjectId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_ProjectId] ON [dbo].[UserRole]
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_RoleId]    Script Date: 26/08/2025 01:10:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_RoleId] ON [dbo].[UserRole]
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Major_MajorId] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Major_MajorId]
GO
ALTER TABLE [dbo].[AccountNotification]  WITH CHECK ADD  CONSTRAINT [FK_AccountNotification_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountNotification] CHECK CONSTRAINT [FK_AccountNotification_Account_AccountId]
GO
ALTER TABLE [dbo].[AccountNotification]  WITH CHECK ADD  CONSTRAINT [FK_AccountNotification_Notification_NotificationId] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notification] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountNotification] CHECK CONSTRAINT [FK_AccountNotification_Notification_NotificationId]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Evaluation_EvaluationId] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[Evaluation] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Evaluation_EvaluationId]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_IndividualEvaluation_IndividualEvaluationId] FOREIGN KEY([IndividualEvaluationId])
REFERENCES [dbo].[IndividualEvaluation] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_IndividualEvaluation_IndividualEvaluationId]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Project_ProjectId]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Transaction_TransactionId] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transaction] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_Transaction_TransactionId]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_UserRole_EditorId] FOREIGN KEY([EditorId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_UserRole_EditorId]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_UserRole_UploaderId] FOREIGN KEY([UploaderId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [FK_Document_UserRole_UploaderId]
GO
ALTER TABLE [dbo].[Evaluation]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_AppraisalCouncil_AppraisalCouncilId] FOREIGN KEY([AppraisalCouncilId])
REFERENCES [dbo].[AppraisalCouncil] ([Id])
GO
ALTER TABLE [dbo].[Evaluation] CHECK CONSTRAINT [FK_Evaluation_AppraisalCouncil_AppraisalCouncilId]
GO
ALTER TABLE [dbo].[Evaluation]  WITH CHECK ADD  CONSTRAINT [FK_Evaluation_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Evaluation] CHECK CONSTRAINT [FK_Evaluation_Project_ProjectId]
GO
ALTER TABLE [dbo].[EvaluationStage]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationStage_AppraisalCouncil_AppraisalCouncilId] FOREIGN KEY([AppraisalCouncilId])
REFERENCES [dbo].[AppraisalCouncil] ([Id])
GO
ALTER TABLE [dbo].[EvaluationStage] CHECK CONSTRAINT [FK_EvaluationStage_AppraisalCouncil_AppraisalCouncilId]
GO
ALTER TABLE [dbo].[EvaluationStage]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationStage_Evaluation_EvaluationId] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[Evaluation] ([Id])
GO
ALTER TABLE [dbo].[EvaluationStage] CHECK CONSTRAINT [FK_EvaluationStage_Evaluation_EvaluationId]
GO
ALTER TABLE [dbo].[EvaluationStage]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationStage_Milestone_MilestoneId] FOREIGN KEY([MilestoneId])
REFERENCES [dbo].[Milestone] ([Id])
GO
ALTER TABLE [dbo].[EvaluationStage] CHECK CONSTRAINT [FK_EvaluationStage_Milestone_MilestoneId]
GO
ALTER TABLE [dbo].[IndividualEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_IndividualEvaluation_EvaluationStage_EvaluationStageId] FOREIGN KEY([EvaluationStageId])
REFERENCES [dbo].[EvaluationStage] ([Id])
GO
ALTER TABLE [dbo].[IndividualEvaluation] CHECK CONSTRAINT [FK_IndividualEvaluation_EvaluationStage_EvaluationStageId]
GO
ALTER TABLE [dbo].[IndividualEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_IndividualEvaluation_UserRole_ReviewerId] FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[IndividualEvaluation] CHECK CONSTRAINT [FK_IndividualEvaluation_UserRole_ReviewerId]
GO
ALTER TABLE [dbo].[Major]  WITH CHECK ADD  CONSTRAINT [FK_Major_Field_FieldId] FOREIGN KEY([FieldId])
REFERENCES [dbo].[Field] ([Id])
GO
ALTER TABLE [dbo].[Major] CHECK CONSTRAINT [FK_Major_Field_FieldId]
GO
ALTER TABLE [dbo].[MemberTask]  WITH CHECK ADD  CONSTRAINT [FK_MemberTask_Task_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
GO
ALTER TABLE [dbo].[MemberTask] CHECK CONSTRAINT [FK_MemberTask_Task_TaskId]
GO
ALTER TABLE [dbo].[MemberTask]  WITH CHECK ADD  CONSTRAINT [FK_MemberTask_UserRole_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[MemberTask] CHECK CONSTRAINT [FK_MemberTask_UserRole_MemberId]
GO
ALTER TABLE [dbo].[Milestone]  WITH CHECK ADD  CONSTRAINT [FK_Milestone_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Milestone] CHECK CONSTRAINT [FK_Milestone_Project_ProjectId]
GO
ALTER TABLE [dbo].[Milestone]  WITH CHECK ADD  CONSTRAINT [FK_Milestone_UserRole_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Milestone] CHECK CONSTRAINT [FK_Milestone_UserRole_CreatorId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_AppraisalCouncil_AppraisalCouncilId] FOREIGN KEY([AppraisalCouncilId])
REFERENCES [dbo].[AppraisalCouncil] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_AppraisalCouncil_AppraisalCouncilId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Document_DocumentId] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Document_DocumentId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Evaluation_EvaluationId] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[Evaluation] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Evaluation_EvaluationId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_EvaluationStage_EvaluationStageId] FOREIGN KEY([EvaluationStageId])
REFERENCES [dbo].[EvaluationStage] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_EvaluationStage_EvaluationStageId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_IndividualEvaluation_IndividualEvaluationId] FOREIGN KEY([IndividualEvaluationId])
REFERENCES [dbo].[IndividualEvaluation] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_IndividualEvaluation_IndividualEvaluationId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_MemberTask_MemberTaskId] FOREIGN KEY([MemberTaskId])
REFERENCES [dbo].[MemberTask] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_MemberTask_MemberTaskId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Project_ProjectId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Signature_SignatureId] FOREIGN KEY([SignatureId])
REFERENCES [dbo].[Signature] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Signature_SignatureId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_SystemConfiguration_SystemConfigurationId] FOREIGN KEY([SystemConfigurationId])
REFERENCES [dbo].[SystemConfiguration] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_SystemConfiguration_SystemConfigurationId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Task_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Task_TaskId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Transaction_TransactionId] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transaction] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Transaction_TransactionId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_UserRole_UserRoleId] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_UserRole_UserRoleId]
GO
ALTER TABLE [dbo].[OTPCode]  WITH CHECK ADD  CONSTRAINT [FK_OTPCode_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OTPCode] CHECK CONSTRAINT [FK_OTPCode_Account_AccountId]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_UserRole_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_UserRole_CreatorId]
GO
ALTER TABLE [dbo].[ProjectMajor]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMajor_Major_MajorId] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectMajor] CHECK CONSTRAINT [FK_ProjectMajor_Major_MajorId]
GO
ALTER TABLE [dbo].[ProjectMajor]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMajor_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectMajor] CHECK CONSTRAINT [FK_ProjectMajor_Project_ProjectId]
GO
ALTER TABLE [dbo].[ProjectResult]  WITH CHECK ADD  CONSTRAINT [FK_ProjectResult_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectResult] CHECK CONSTRAINT [FK_ProjectResult_Project_ProjectId]
GO
ALTER TABLE [dbo].[ProjectSimilarity]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSimilarity_IndividualEvaluation_IndividualEvaluationId] FOREIGN KEY([IndividualEvaluationId])
REFERENCES [dbo].[IndividualEvaluation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectSimilarity] CHECK CONSTRAINT [FK_ProjectSimilarity_IndividualEvaluation_IndividualEvaluationId]
GO
ALTER TABLE [dbo].[ProjectSimilarity]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSimilarity_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectSimilarity] CHECK CONSTRAINT [FK_ProjectSimilarity_Project_ProjectId]
GO
ALTER TABLE [dbo].[ProjectTag]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTag_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectTag] CHECK CONSTRAINT [FK_ProjectTag_Project_ProjectId]
GO
ALTER TABLE [dbo].[ResultPublish]  WITH CHECK ADD  CONSTRAINT [FK_ResultPublish_ProjectResult_ProjectResultId] FOREIGN KEY([ProjectResultId])
REFERENCES [dbo].[ProjectResult] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResultPublish] CHECK CONSTRAINT [FK_ResultPublish_ProjectResult_ProjectResultId]
GO
ALTER TABLE [dbo].[Signature]  WITH CHECK ADD  CONSTRAINT [FK_Signature_Document_DocumentId] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([Id])
GO
ALTER TABLE [dbo].[Signature] CHECK CONSTRAINT [FK_Signature_Document_DocumentId]
GO
ALTER TABLE [dbo].[Signature]  WITH CHECK ADD  CONSTRAINT [FK_Signature_UserRole_SignerId] FOREIGN KEY([SignerId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Signature] CHECK CONSTRAINT [FK_Signature_UserRole_SignerId]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Milestone_MilestoneId] FOREIGN KEY([MilestoneId])
REFERENCES [dbo].[Milestone] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Milestone_MilestoneId]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_UserRole_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_UserRole_CreatorId]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_EvaluationStage_EvaluationStageId] FOREIGN KEY([EvaluationStageId])
REFERENCES [dbo].[EvaluationStage] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_EvaluationStage_EvaluationStageId]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Project_ProjectId]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_UserRole_HandlePersonId] FOREIGN KEY([HandlePersonId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_UserRole_HandlePersonId]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_UserRole_RequestPersonId] FOREIGN KEY([RequestPersonId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_UserRole_RequestPersonId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Account_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Account_AccountId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_AppraisalCouncil_AppraisalCouncilId] FOREIGN KEY([AppraisalCouncilId])
REFERENCES [dbo].[AppraisalCouncil] ([Id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_AppraisalCouncil_AppraisalCouncilId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Project_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Project_ProjectId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role_RoleId]
GO
